<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link href="../../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../icon/iconfont.css"/>
    <link href="../../css/common.css" rel="stylesheet"/>
    <style>
        .main {
            margin-top: 0.54rem;
            background: #ffffff;
        }

        .mlist {
            padding: 0.15rem 0;
            margin: 0 0.14rem;
            font-size: 0.16rem;
            border-bottom: 1px solid #EEEEEE;
        }

        .mlist:last-child {
            border-bottom: none;
        }

        .mlist .iconfont {
            font-size: 0.12rem;
            color: #DDDDDD;
        }
    </style>

</head>
<body>
<div class="app">
    <!-- 主页面标题 -->
    <header class="header mui-bar mui-bar1 mui-bar-nav">
        <span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></span>
        <h1 class="mui-title">帮助中心</h1>
    </header>
    <div class="main">
        <div class="mlist fle fle_b">
            <div>如何购买会员？</div>
            <div class="icon iconfont icon-gengduo"></div>
        </div>
        <div class="mlist fle fle_b">
            <div>个人身份说明？</div>
            <div class="icon iconfont icon-gengduo"></div>
        </div>
        <div class="mlist fle fle_b">
            <div>如何推广？</div>
            <div class="icon iconfont icon-gengduo"></div>
        </div>
        <div class="mlist fle fle_b">
            <div>如何提现？</div>
            <div class="icon iconfont icon-gengduo"></div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>

</html>