<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link href="../../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../icon/iconfont.css"/>
    <link href="../../css/common.css" rel="stylesheet"/>
    <style>
        .main {
            margin-top: 0.59rem;
        }

        .shouzhi {
            width: 3.47rem;
            margin: 0 auto;
            background: #ffffff;
        }

        .szlist {
            padding: 0.12rem 0.14rem;
            border-bottom: 1px solid #EEEEEE;
        }

        .szlist:last-child {
            border-bottom: none;
        }

        .price {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="app">
    <!-- 主页面标题 -->
    <header class="header mui-bar mui-bar1 mui-bar-nav">
        <span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></span>
        <h1 class="mui-title">收入明细</h1>
    </header>
    <div class="main">
        <div class="shouzhi">
            <div class="szlist fle fle_b">
                <div class="myord">
                    <div class="order cor3">我的订单</div>
                    <div class="font12 cor9">2018-12-22</div>
                </div>
                <div class="price cor3">+200</div>
            </div>

            <div class="szlist fle fle_b">
                <div class="myord">
                    <div class="order cor3">我的订单</div>
                    <div class="font12 cor9">2018-12-22</div>
                </div>
                <div class="price cor3">+200</div>
            </div>

            <div class="szlist fle fle_b">
                <div class="myord">
                    <div class="order cor3">我的订单</div>
                    <div class="font12 cor9">2018-12-22</div>
                </div>
                <div class="price cor3">+200</div>
            </div>

            <div class="szlist fle fle_b">
                <div class="myord">
                    <div class="order cor3">我的订单</div>
                    <div class="font12 cor9">2018-12-22</div>
                </div>
                <div class="price cor3">+200</div>
            </div>
        </div>

    </div>
</div>


</body>
<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>

</html>