<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link href="../../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../icon/iconfont.css"/>
    <link href="../../css/common.css" rel="stylesheet"/>
    <style>
        .icon-7 {
            font-size: 0.17rem;
            color: #ffffff;
        }

        .main {
            padding: 0.17rem 0.14rem;
        }

        .main h4 {
            font-size: 0.16rem;
            color: #111111;
        }

        .time {
            margin: 0.1rem 0 0.15rem 0;
        }

        .mcen {
            margin-bottom: 0.15rem;
        }

        .mimg img {
            width: 3.47rem;
            height: auto;
        }
    </style>
</head>
<body>
<div class="app">
    <!-- 主页面标题 -->
    <header class="header mui-bar mui-bar1 mui-bar-nav">
        <span class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></span>
        <h1 class="mui-title">活动详情</h1>
        <span class="icon iconfont icon-7 mui-pull-right"></span>
    </header>
    <div class="main">
        <h4>麦田线下课程火热进行中</h4>
        <div class="time cor9">2019-05-22</div>
        <div class="mcen cor6">迎来了最新的一次麦田淘课线下分享会，这次主题是英语的学习。Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
            Risus commodo viverra maecenas accumsan lacus vel facilisis.
        </div>
        <div class="mimg">
            <img src="../../image/hd_detail.png"/>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
</html>