* {
    margin: 0;
    padding: 0;
}

body {
    background: #FAFAFE;
    line-height: 0.21rem;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.app {
    font-size: 0.14rem;
}

/*清除浮动代码*/
.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.clearfloat {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tc {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    position: fixed;
}

body {
    font-family: "PingFang-SC-Regular";
}

img {
    border: none;
}

.cor3 {
    color: #333333;
}

.cor6 {
    color: #666666;
}

.cor9 {
    color: #999999;
}

.font10 {
    font-size: 0.1rem;
}

.font11 {
    font-size: 0.11rem;
}

.font12 {
    font-size: 0.12rem;
}

.font13 {
    font-size: 0.13rem;
}

.font14 {
    font-size: 0.14rem;
}

.font15 {
    font-size: 0.15rem;
}

.font16 {
    font-size: 0.16rem;
}

.font17 {
    font-size: 0.17rem;
}

.font18 {
    font-size: 0.18rem;
}

.mart5 {
    margin-top: 0.05rem;
}

.mart10 {
    margin-top: 0.1rem;
}


.mar10 {
    margin-right: 0.1rem;
}

.mar15 {
    margin-right: 0.15rem;
}

.marb5 {
    margin-bottom: 0.05rem;
}

.marb10 {
    margin-bottom: 0.1rem;
}

.marb15 {
    margin-bottom: 0.15rem;
}

.marl5 {
    margin-left: 0.05rem;
}

.marl10 {
    margin-left: 0.1rem;
}

.marl15 {
    margin-left: 0.15rem;
}

.marr5 {
    margin-right: 0.05rem;
}

.marr10 {
    margin-right: 0.1rem;
}

.marr15 {
    margin-right: 0.15rem;
}

.mui-title {
    font-weight: bold;
    font-size: 0.17rem;
    line-height: 0.44rem;
    text-align: center;
}

.mui-bar .mui-icon {
    line-height: 0.44rem;
    padding: 0;
    font-size: 0.24rem;
}

.mui-bar .mui-title {
    right: 0.4rem;
    left: 0.4rem;
}

.mui-bar {
    line-height: 0.44rem;
    height: 0.44rem;
    padding-right: 0.1rem;
    padding-left: 0.1rem;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mui-bar1 {
    background: #01C475;
}

.mui-bar1 .mui-title {
    color: #ffffff;
}

.mui-bar1 .mui-action-back {
    color: #ffffff;
}

.mui-bar2 {
    background: #FFFFFF;
}

.mui-bar2 .mui-title {
    color: #333333;
}

.mui-bar2 .mui-action-back {
    color: #999999;
}

.mui-bar-nav {
    box-shadow: none;
    -webkit-box-shadow: none;
}


.main {
    margin-top: 0.44rem;
}

.fle {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.fle_b {
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
}

.fle_c {
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-box-pack: center;
    -webkit--box-pack: center;
    box-pack: center;
}

.fle_a_c {
    align-items: center;
    -webkit-align-items: center;
    box-align: center;
    -moz-box-align: center;
    -webkit-box-align: center;
}

.fle_e {
    -ms-flex-pack: end;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.fle_s {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.fle_w {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

}

.w_s {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis; /* Opera */
    -webkit-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* Opera */
    text-overflow: ellipsis; /* IE, Safari (WebKit) */
    -moz-binding: url('ellipsis.xml#ellipsis'); /* Firefox */
}

.w_s_2 {
    display: -webkit-box;
    overflow: hidden;

    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*模态框*/

.bg_rgba {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: none;
}

/*弹窗定位*/

.tc {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    position: fixed;
}


input::-webkit-input-placeholder {
    color: #999999;
    font-size: 0.12rem;
    font-weight: normal;
}

input:-moz-placeholder {
    color: #999999;
    font-size: 0.12rem;
    font-weight: normal;
}

input::-moz-placeholder {
    color: #999999;
    font-size: 0.12rem;
    font-weight: normal;
}

input:-ms-input-placeholder {
    color: #999999;
    font-size: 0.12rem;
    font-weight: normal;
}