body {
    background: #f1f2f5;
}

.box {
    background: #ffffff;
    box-sizing: border-box;
    padding-top: 10px;
}

.box .title {
    padding-left: 20px;
}

.box .body {
    padding-left: 20px;
    padding-bottom: 20px;
}

.box-map {
    width: 100%;
    height: 800px;
}

.form-box .body {
    box-sizing: border-box;
    padding: 20px;
}

.clear {
    clear: both;
}

.layui-nav-item .iconfont {
    margin-right: 10px;
}

.ul_list {
    box-sizing: border-box;
}

.ul_list li i {
    font-size: 30px;
}

.ul_list li .name {
    padding-top: 10px;
}

.ul_list li {
    float: left;
    width: 23%;
    margin-right: 2%;
    height: 68px;
    padding: 20px 0;
    text-align: center;
    background: #F8F8F8;
    margin-top: 15px;
    cursor: pointer;
}

.ul_list li a {
    display: block;
    width: 100%;
    height: 100%;
}

.ul_list li:nth-child(5n) {
    margin-right: 0px;
}


.menu_list li {
    width: 18%;
}


.data-graph .left {
    width: 49%;
    float: left;
    margin-right: 1%;
}

.data-graph .right {
    width: 49%;
    float: left;
}


.like-uploader-wrapper {
}

.like-uploader-wrapper .like-uploader-selector {
    display: table;
    float: left;
    width: 104px;
    height: 104px;
    margin-right: 8px;
    margin-bottom: 8px;
    text-align: center;
    vertical-align: top;
    background-color: #fafafa;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: border-color .3s ease;
    transition: border-color .3s ease;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.like-upload input {
    display: block;
    width: 100%;
    height: 100%;
    background: #0C0C0C;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    opacity: 0;
}

.like-uploader-wrapper .like-uploader-selector:hover {
    border: 1px dashed #1890ff;
}

.like-upload {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    outline: 0;
    display: table-cell;
    width: 100%;
    height: 100%;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.like-upload i {
    font-size: 32px;
    color: #999;
}

.like-upload .anticon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.like-upload-item {
    box-sizing: border-box;
    float: left;
    width: 104px;
    height: 104px;
    margin: 0 8px 8px 0;
    position: relative;
    padding: 8px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.like-upload-item .like-upload-info {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.like-upload-item .like-upload-info .mask {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .3s;
    transition: all .3s;
    box-sizing: border-box;
    left: 0;
    top: 0;
}

.like-upload-item .like-upload-info .thumbnail img {
    position: static;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    top: 8px;
    left: 8px;
    font-size: 26px;
    line-height: 54px;
    text-align: center;
    opacity: .8;
}

.like-upload-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    white-space: nowrap;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.like-upload-actions i {
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}

fieldset {
    border: 1px dashed #d9d9d9;
}